* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

body {
  margin: 0;
  background-color: #fdf9f7;
  color: #1a1a1a;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: #fff;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.nav-left h2 {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
}

.nav-right {
  display: flex;
  gap: 15px;
}

/* BOTONES */
.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.btn.brown {
  background-color: #7b4b28;
  color: white;
}

.btn.brown:hover {
  background-color: #5a361c;
}

.btn.black {
  background-color: #1c1c1c;
  color: white;
}

.btn.black:hover {
  background-color: #000;
}

/* LAYOUT */
.main-layout {
  display: flex;
  height: calc(100vh - 80px);
  position: relative;
}

/* PANEL DERECHO */
.panel {
  flex: 1;
  background-color: #fdf5e7;
  margin: 40px 40px 40px 40px;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.menu-buttons .row {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.menu-buttons .btn {
  width: 200px;
  font-size: 15px;
}

/* TABLA */
.subtitle {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
}

.table-area {
  background-color: white;
  border-radius: 20px;
  margin-top: 15px;
  padding: 15px;
  width: 90%;
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
  height: 600px;
}

.table-area table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-area th, .table-area td {
  border: 2px solid #000;
  padding: 12px;
  font-weight: 500;
}

.table-area th {
  background-color: #1a1a1a;
  color: white;
}

/* IMAGEN IZQUIERDA */
.side-image {
  width: 40%;
  background-image: url("img01.png");
  background-size: cover;
  background-position: center;
}
